# Tiền xử lý Dữ liệu thời tiết từ API Visual Crossing

Tên: Lê Thành Đạt

MSSV: 22120053

Nhóm: 5 - Turtles

### Thiết lập môi trường

In [1]:
import numpy as np
import pandas as pd

In [2]:
chosen_cols = [ # Các thuộc tính được chọn
    'Address', 
    'Datetime', 
    'DatetimeEpoch', 
    'Tempmax', 
    'Tempmin', 
    'Temp', 
    'Dew', 
    'Humidity', 
    'Precip', 
    'Precipprob', 
    'Precipcover',
    'Preciptype', 
    'Windgust', 
    'Windspeed', 
    'Winddir', 
    'Pressure',
    'Cloudcover', 
    'Visibility', 
    'Solarradiation', 
    'Solarenergy', 
    'Uvindex', 
    'Moonphase'
]

### Đọc dữ liệu trong CSV Hà Nội và Nghệ An đã thu thập được từ API Visual Crossing

In [3]:
hn_df = pd.read_csv('HaNoi.csv')
hn_df.head(5)

,Datetime,DatetimeEpoch,Tempmax,Tempmin,Temp,Dew,Feelslike,Precip,Precipprob,Precipcover,...,Solarenergy,Uvindex,Sunrise,Sunset,Moonphase,Icon,Conditions,Description,Stations,Address
0,2019-01-01,1546275600,13.0,11.0,11.8,5.3,11.8,0.000,0.0,0.00,...,4.3,2.0,06:33:36,17:26:14,0.83,partly-cloudy-day,Partially cloudy,Partly cloudy throughout the day.,"['48820099999', '48823099999', '48825099999', ...",Hanoi
1,2019-01-02,1546362000,17.0,11.5,14.1,7.0,14.1,0.100,100.0,4.17,...,3.8,2.0,06:33:55,17:26:51,0.87,rain,"Rain, Partially cloudy",Partly cloudy throughout the day with late aft...,"['48820099999', '48823099999', '48825099999', ...",Hanoi
2,2019-01-03,1546448400,18.1,13.0,15.3,9.0,15.3,0.010,100.0,4.17,...,3.8,2.0,06:34:13,17:27:29,0.90,rain,"Rain, Partially cloudy",Partly cloudy throughout the day with afternoo...,"['48820099999', '48823099999', '48825099999', ...",Hanoi
3,2019-01-04,1546534800,19.0,13.0,16.3,12.4,16.3,0.878,100.0,4.17,...,3.9,2.0,06:34:30,17:28:08,0.94,rain,"Rain, Partially cloudy",Partly cloudy throughout the day with morning ...,"['48820099999', '48823099999', '48825099999', ...",Hanoi
4,2019-01-05,1546621200,22.0,16.0,19.0,15.1,19.0,0.000,0.0,0.00,...,7.8,4.0,06:34:46,17:28:47,0.97,partly-cloudy-day,Partially cloudy,Partly cloudy throughout the day.,"['48820099999', '48823099999', '48825099999', ...",Hanoi

In [4]:
na_df = pd.read_csv('NgheAn.csv')
na_df.head(5)

,Datetime,DatetimeEpoch,Tempmax,Tempmin,Temp,Dew,Feelslike,Precip,Precipprob,Precipcover,...,Solarenergy,Uvindex,Sunrise,Sunset,Moonphase,Icon,Conditions,Description,Stations,Address
0,2019-01-01,1546275600,15.0,12.9,14.0,10.3,14.0,0.0,0.0,0.00,...,4.6,2.0,06:29:44,17:31:24,0.83,cloudy,Overcast,Cloudy skies throughout the day.,"['48845099999', 'remote', '48846099999']",Nghe An
1,2019-01-02,1546362000,15.8,12.2,14.3,10.8,14.3,0.9,100.0,4.17,...,3.3,2.0,06:30:04,17:32:01,0.87,rain,"Rain, Overcast",Cloudy skies throughout the day with morning r...,"['48845099999', 'remote', '48846099999']",Nghe An
2,2019-01-03,1546448400,17.7,14.5,16.1,13.1,16.1,0.4,100.0,16.67,...,5.5,3.0,06:30:23,17:32:37,0.90,rain,"Rain, Overcast",Cloudy skies throughout the day with early mor...,"['48845099999', 'remote']",Nghe An
3,2019-01-04,1546534800,20.1,16.2,17.9,15.2,17.9,0.1,100.0,4.17,...,4.3,2.0,06:30:42,17:33:14,0.94,rain,"Rain, Overcast",Cloudy skies throughout the day with early mor...,"['48845099999', 'remote']",Nghe An
4,2019-01-05,1546621200,21.7,17.9,19.5,17.1,19.5,0.0,0.0,0.00,...,3.9,2.0,06:30:59,17:33:52,0.97,cloudy,Overcast,Cloudy skies throughout the day.,"['48845099999', 'remote']",Nghe An

### Lọc bớt các cột

In [5]:
# Lọc các cột trong file HaNoi.csv
hn_df = hn_df[chosen_cols]
hn_df.head(5)

,Address,Datetime,DatetimeEpoch,Tempmax,Tempmin,Temp,Dew,Humidity,Precip,Precipprob,...,Windgust,Windspeed,Winddir,Pressure,Cloudcover,Visibility,Solarradiation,Solarenergy,Uvindex,Moonphase
0,Hanoi,2019-01-01,1546275600,13.0,11.0,11.8,5.3,64.5,0.000,0.0,...,26.3,19.4,13.3,1028.4,88.3,10.0,50.8,4.3,2.0,0.83
1,Hanoi,2019-01-02,1546362000,17.0,11.5,14.1,7.0,62.8,0.100,100.0,...,22.3,17.5,0.9,1026.9,86.5,9.4,43.1,3.8,2.0,0.87
2,Hanoi,2019-01-03,1546448400,18.1,13.0,15.3,9.0,66.3,0.010,100.0,...,16.6,13.0,39.0,1024.5,80.4,10.0,45.5,3.8,2.0,0.90
3,Hanoi,2019-01-04,1546534800,19.0,13.0,16.3,12.4,78.1,0.878,100.0,...,19.1,10.3,53.0,1022.3,82.1,8.5,47.4,3.9,2.0,0.94
4,Hanoi,2019-01-05,1546621200,22.0,16.0,19.0,15.1,79.5,0.000,0.0,...,18.4,11.2,38.8,1020.5,76.3,7.3,89.3,7.8,4.0,0.97

In [6]:
# Lưu dataframe đã lọc các cột vào file HaNoi.csv
hn_df.to_csv('HaNoi.csv', sep=',', encoding='utf-8', index=False, header=True)

In [7]:
# Lọc các cột trong file NgheAn.csv
na_df = na_df[chosen_cols]
na_df.head(5)

,Address,Datetime,DatetimeEpoch,Tempmax,Tempmin,Temp,Dew,Humidity,Precip,Precipprob,...,Windgust,Windspeed,Winddir,Pressure,Cloudcover,Visibility,Solarradiation,Solarenergy,Uvindex,Moonphase
0,Nghe An,2019-01-01,1546275600,15.0,12.9,14.0,10.3,78.7,0.0,0.0,...,36.0,20.9,335.4,1026.4,100.0,19.9,52.1,4.6,2.0,0.83
1,Nghe An,2019-01-02,1546362000,15.8,12.2,14.3,10.8,79.5,0.9,100.0,...,32.4,18.7,335.4,1025.8,99.9,15.0,38.4,3.3,2.0,0.87
2,Nghe An,2019-01-03,1546448400,17.7,14.5,16.1,13.1,82.6,0.4,100.0,...,27.7,15.5,332.2,1023.7,99.1,20.0,63.8,5.5,3.0,0.90
3,Nghe An,2019-01-04,1546534800,20.1,16.2,17.9,15.2,84.1,0.1,100.0,...,23.8,13.0,331.4,1021.6,99.6,20.0,50.2,4.3,2.0,0.94
4,Nghe An,2019-01-05,1546621200,21.7,17.9,19.5,17.1,85.8,0.0,0.0,...,22.3,12.6,338.2,1019.8,99.4,20.0,44.1,3.9,2.0,0.97

In [8]:
# Lưu dataframe đã lọc các cột vào file NgheAn.csv
na_df.to_csv('NgheAn.csv', sep=',', encoding='utf-8', index=False, header=True)